# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# DOKU (isi di akhir)
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_BASE_URL=https://api-sandbox.doku.com

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_STORE_NAME=Maesa Mart