# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://aiieapgzrghibvlkblkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_rrGcpw-JnYTH643OICflEA_YR08hXk7
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY=isi_dengan_service_role_key_kamu

# DOKU (isi di akhir)
DOKU_CLIENT_ID=BRN-0218-1783407503438
DOKU_SECRET_KEY=SK-uOLMNVAEMV5qvwRBHpBs
DOKU_BASE_URL=https://api.doku.com

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_STORE_NAME=Maesa Mart
